   <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>{{ .Site.Copyright }}<br/>
                        <a class="socmed" href="https://www.facebook.com/ron.keinan"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                        <a class="socmed" href="https://www.youtube.com/user/qwair"><i class="fa fa-2x fa-youtube" aria-hidden="true"></i></a>
                          <a class="socmed" href="https://www.soundcloud.com/ronkeinan"><i class="fa fa-2x fa-soundcloud" aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

        <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
