<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>


    {{ partial "head.html" . }}
    <link rel="alternate" href="{{ .Params.alternate.href }}" hreflang="{{ .Params.alternate.hreflang }}" />
    <meta name="description" content="{{ .Params.description }}">
    <title>{{ .Title }}</title>
</head>

<body lang="{{ .Site.LanguageCode }}">

   {{ partial "header.html" . }}
   {{ $baseurl := $.Site.BaseURL }}
   <div class="container">
        {{ range $.Site.Data.discography }}
          <div class="box">
               <div class="col-lg-4">
                        <img src="{{ $baseurl }}/img/{{ index .cover $.Site.LanguageCode }}"/>
               </div>
               <div class="col-lg-6">
                 <div class="row">
                        <h4><a name="{{ .title.anchor }}">{{ index .title $.Site.LanguageCode | markdownify }}</a></h4>
                  </div>
                  <div class="row">
                        <p>{{ index .text $.Site.LanguageCode | markdownify }}</p>
                  </div>
                  <div class="row">
                         {{ if eq $.Site.LanguageCode "de-de" }}
                        <p>Kauf das Album online</p>
                        {{ else }}
                        <p>Buy it online on your favourite platform</p>
                        {{ end }}
                    {{ if isset . "itunes" }}

                            <a href = "{{ index .itunes $.Site.LanguageCode }}">
                              <img src="{{ $baseurl }}/img/itunes-{{ $.Site.LanguageCode }}.svg" height=40 />
                            </a>

                    {{ end }}
                    {{ if isset . "google" }}

                            <a href = "{{ index .google $.Site.LanguageCode }}">
                              <img src="{{ $baseurl }}/img/google-play-{{ $.Site.LanguageCode }}.png" height=60 />
                            </a>

                    {{ end }}
                    {{ if isset . "amazon" }}
                            <a href = "{{ index .amazon $.Site.LanguageCode }}">
                              <img src="{{ $baseurl }}/img/amazon-logo.png" height=41 />
                            </a>
                    {{ end }}
                  </div>

                   {{ if isset . "paypal" }}
                      <div class="row">
                      {{ if eq $.Site.LanguageCode "de-de" }}
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                          <p>Oder kaufen Sie eine CD.
                          <input type="hidden" name="cmd" value="_s-xclick">
                          <input type="hidden" name="hosted_button_id" value="{{ .paypal.code_de }}">
                          <input type="hidden" name="on0" value="Versand">Versand nach
                          <select name="os0">
                            {{ range .paypal.tarif_de }}
                              <option value="{{ index . 0 }}">{{ index . 1 }}</option>
                              {{ end }}
                          </select>
                          <input type="hidden" name="currency_code" value="EUR">
                          <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
                          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></p>
                        </form>
                      {{ else }}
                          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                          <p>Or get a physical CD
                          <input type="hidden" name="cmd" value="_s-xclick">
                          <input type="hidden" name="hosted_button_id" value="{{ .paypal.code_en }}">
                          <input type="hidden" name="on0" value="Shipping">Shipping to
                          <select name="os0">
                              {{ range .paypal.tarif_en }}
	                             <option value="{{ index . 0 }}">{{ index . 1 }}</option>
	                            {{ end }}
                            </select>
                          <input type="hidden" name="currency_code" value="EUR">
                          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></p>
                        </form>
                      {{ end }}
                    </div>
                    {{ end }}
               </div>
            </div>
        {{ end }}
        {{ partial "footer.html" . }}
    </div>



</body>

</html>
