<!DOCTYPE html>
<html lang="en">

<head>


    {{ partial "head.html" . }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ .Site.Title }}</title>
</head>

<body lang="en">

    {{ partial "header.html" . }}

    {{ range .Data.Pages }}
        {{ if (eq .Type "index") }}
            {{ .Content }}
        {{ end }}
    {{ end }}


    {{ partial "footer.html" . }}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
